<head>
    <title>appwall</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=PT+Sans+Caption' rel='stylesheet' type='text/css'>
</head>

<body>

    <nav class="navbar navbar-dark bg-primary">
        <h4>Appwall</h4>
    </nav>
    <div id="sign" class="row">{{>loginButtons}}</div>

    <!--
    <div class="blog-masthead">
        <div class="container">
            <h3>Appwall</h3>
        </div>
    </div>
-->

    <div id="form" class="col-xs-4">
        {{> form}}
    </div>
    <div class="col-xs-8">
        <div class="row">
            {{> posts}}
        </div>
    </div>

</body>