<template name="form">
    {{#if currentUser}}
    <form>
        <div class="center-button">
            <div class="file-field input-field">
                <div class="btn">
                    <span>File</span>
                    <input type="file">
                </div>
                <div class="file-path-wrapper">
                    <input class="file-path validate" type="text">
                </div>
            </div>
        </div>
        <input placeholder="Name" type="text" />
        <input placeholder="Message" type="text" />
        <div class="center-button">
            <button class="waves-effect waves-light btn">Submit</button>
        </div>
    </form>
    {{/if}}
</template>

<template name="posts">
    <div class="grid">
        <div class="grid-sizer"></div>
        {{#each postList}} {{updateMasonry}}



        <div class="col m6">
            <div class="card">
                <div class="card-image waves-effect waves-block waves-light">
                    <img class="activator" src="{{image}}">
                    <span class="card-title"></span>
                </div>
                <div class="card-content">
                    <span class="card-title activator grey-text text-darken-4">{{this.name}}</span> {{#if currentUser}}<a id="li" class="secondary-content delete-task"><i class="material-icons">delete</i></a>{{/if}}
                </div>
                <div class="card-reveal">
                    <span class="card-title grey-text text-darken-4">{{this.name}}<i class="material-icons right">close</i></span>
                    <p>{{this.message}}</p>
                    <div>{{this.createdAt}}</div>
                </div>
            </div>
        </div>
        {{/each}}
    </div>
</template>