body {
    font-family: 'PT Sans Caption', sans-serif;
}

.grid-sizer,
.grid-item {
    width: 100%;
}

#form {
    margin-top: 100px;
}

.grid-item img {
    margin: 0px;
    display: block;
    max-width: 250px;
    max-height: 250px;
}

h4 {
    text-align: right;
    margin-right: 30px;
}


/*
h1,
h2,
h3,
h4 {
    text-align: center;
}
*/

.blog-masthead {
    background-color: #428bca;
}

#sign {
    margin-left: 20px;
}

.delete-task {
    margin: 10px;
}